.card{
        width: 280px;
        padding: 20px;
        margin-top: 20px; 
        height: 430px;
        
      }
.card-img-top{
  width: 100%;
  height:180px;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}

