.navbar {
  background-color: rgb(34, 35, 50);
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  z-index: 1;
}

.lib-app {
  text-align: center;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(211, 211, 211);
  font-family: cursive;
  margin-left: 181px;
}
.content-navbar {
  padding-left: 900px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
}
.nav-link {
  color: rgb(211, 211, 211);
}
.nav-item {
  color: white;
  text-align: center;
  margin-top: -9px;
  padding-left: 9px;
}
.dropdown-menu{
  margin-left: -17px;
}
